dataset/*
datasets/*
models/yolov8n.pt
all_labels.tsv
*/.pyc
__pycache__/dataloader.cpython-310.pyc
__pycache__/predict.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
*/images/*
*/labels/*
*/weights/*
runs/detect/train11/weights/*
*yolov8n.pt